.main-container {
    //   display: flex;
    //   flex-direction: row;
    height: 100vh;
    overflow-y: hidden;
    background: #000;
  }
  
  .main-container::-webkit-scrollbar {
    width: 0 !important;
  }
  .main-container {
    overflow: -moz-scrollbars-none;
  }
  .main-container {
    -ms-overflow-style: none;
  }
  
  .photo img {
    max-height: 65vh;
  }
  
  .main {
    position: fixed;
  }
  