<div class="bio-container">
  <div class="photo-container">
    <video width="320" height="240" controls="false" autoplay="autoplay" autoplay>
      <source src="assets/bio.mp4" type="video/mp4">
    Your browser does not support the video tag.
    </video>
    <!-- <img src="http://lorempixel.com/400/600/people/" alt="" />Satyam Photo -->
  </div>
  <div class="text-content">
    Playwright & Direction:

"मैं लेडिज हूँ, ये जैंट्स हैं" / (I am ladies, he is gents)
A nukkad-natak based on a goat-rape that happened in Haryana, India in 2018.

"खयाल" / (Ponder)
A staged-play that depicts a story of a mid-30s stone-worker, from Chandni Chawk, is captivated by a disease that makes him talk incessantly.

"अभी बाकी है" / (It Still Remains)
A political satire based on a “mysterious wall” in a room that acts as a king and guides his kingdom.

Actor (Direction by Ramesh Bora):

Dulari Bai (Katori Mal/Itr Farosh) 
Written By - Mani Madhukar

Aab-e-Hayat (Dayaram/Vakeel) / (Elixir of Life)
Presented by Natakwala theatre group
Story:  Munshi Premchand
Drama Adaptation: Mr. Yogesh Tripathi

"चूहा राज" / (Kingdom of mice)


Photography Projects:

Publication:
Dazed and Confused - 27th April 2020 - Click Here
Creative Image Magazine, Raghu Rai Publication - Link

Exhibitions:
London Street Photography Festival - 2018 - Click Here

	Recognition:
was awarded a scholarship in a workshop with Raghu Rai - March 2018
was shortlisted (in top 10) in “Under 20” category in London Street Photography Festival - 2019

Projects:
Almost There



  </div>
</div>
