.bio-container {
    display: flex;
    max-width: 70vw;
    margin: auto;
    align-items: flex-start;
    justify-content: center;
}

.photo-container {
    padding: 30px;
}

.text-content {
    margin-top: 30px;
}