

<!-- 
<section class="section-2">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, aliquam!
    Corporis perferendis inventore ratione aut. Temporibus veritatis quidem
    nobis, iste quia sint laboriosam veniam ipsam ex porro aut, rerum possimus?
  </p>
</section> -->

<!-- <section class="collage-container">

    <img
      *ngFor="let img of collageImages"
      [class]="img.className"
      [src]="img.path"
      alt=""
    />

</section> -->

<footer>
  <p>&copy; 2020 Satyam Bora. All Rights Reserved.</p>
  <sub
    >Email: <a href="mailto:satyambora@gmail.com">satyambora@gmail.com</a></sub
  >
</footer>

<!-- <embed src="assets/KMWH.mp3" controls="true" loop="true" autostart="true" width="2" height="0"> -->
